# Next
.next
.turbo

# Environment
.env

# OpenAPI code generation
/src/api/client

# IDE's
.idea
.project
*.sublime-*
*.code-*


# Node.js
node_modules
npm-debug.log


# Build and test tools
*.zip
dist/*

# Cache
.cache


# Operating system
.DS_Store
Thumbs.db


# Other
/.husky
/.reports
.env
.eslintcache
*~
*.log
*.tgz

notes/*

# TypeScript
*.tsbuildinfo
